/* Ensure the entire body covers the viewport */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer styles */
.footer {
  background-color: #e5e5e5;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Push footer to bottom */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #2134c2; 
}

.footer-logo img {
  width: 80px;
}

.footer-social {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icon {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #2134c2; 
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #000;
}
